#navbar{
    flex-direction: row;
    height: 50px;
}


#navbar ul li a {
    padding: 2px 2px;
    font-size: 10px;
}
#navbar img {
    height: 25px;
    width: 25px;
    border-radius: 60px;
    margin: 5px 5px 5px 5px;
}



